footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    gap: 1rem;

    & div {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
    }
}

@media (width >= 80em) {
    footer {
        display: flex;
        gap: 2rem;
        padding-block: 1.5rem;
        font: 0.875rem/150% var(--font-family);
    }
    
    footer span:nth-child(1) {
        margin-right: auto;
    }

    footer div a {
        margin-left: 1rem;
    }
}