@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: #ffffff8f;
    --bg-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text: 1rem/150% var(--font-family);
    --text-lg: bold 2rem/125% var(--font-family);
    --text-md: 0.875rem/170% var(--font-family);
    --text-sm: 0.75rem/170% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container {
    padding-inline: 1rem;
    max-width: 80rem;
    margin-inline: auto;
}

.bg-surface-color {
    background-color: var(--surface-color);
}