header {
    padding-block: 2rem;
    font: var(--text-md);
}

header .container {
    display: grid;
    gap: 2rem;
}

#profile {
    display: grid;
    gap: 1rem;
}

#profile img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: bold 1.5rem/125% var(--font-family);
    color: var(--text-color-primary);
    margin-bottom: 0.5rem;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 17.5rem;
}

#info li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (width >= 80em) {
    header {
        padding-block: 2rem;
        font: var(--text-md);
    }
    
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #profile {
        display: flex;
        gap: 2rem;
    }
    
    #profile img {
        width: 11rem;
        height: 11rem;
        object-fit: cover;
        border-radius: 50%;
    }
    
    #profile>div {
        max-width: 24rem;
    }
    
    #profile h1 {
        font: var(--text-lg);
        color: var(--text-color-primary);
        margin-bottom: 0.5rem;
    }
    
    #info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        width: 17.5rem;
    }
    
    #info li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}