main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.5rem, 1fr));
    gap: 1rem;
    padding-block: 1rem;
}

main img {
    width: 20.5rem;
    height: 20.5rem;
}

@media (width >= 80em) {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-block: 1.5rem;
    }
    
    main img {
        width: 17.875rem;
        height: 17.875rem;
    }
}